/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/fonts
/public/webfonts
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/public/potree/
/docker/geoserver/*
/docker/postgresql/data
/docker/earthengine-server-nodejs/*
/docker/php/aicedronesdi_filemanager/Proyectos/*